venv
media
backup
.vscode
.idea
.env
env
envv
static
frontend/node_modules
node_modules
blog/api/__pycache__
merchandise/api/__pycache__
users/api/__pycache__
products/api/__pycache__
categories/api/__pycache__


blog/__pycache__
merchandise/__pycache__
users/__pycache__
products/__pycache__
categories/__pycache__
webiste/__pycache__
pages/__pycache__
**/**/__pycache__
**/__pycache__
__pycache__
