**/**/__pycache__
**/__pycache__
/__pycache__
__pycache__

env
venv
backup
urls.md
yekan.ttf
iranSans.ttf
frontend
static
db_backup

# .gitignore
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
# Translations
*.moGetting Started with Django 3.0 Chapter 1
[ 35 ]
*.pot
# Django stuff:
*.log
# Sphinx documentation
docs/_build/
# IPython
profile_default/
ipython_config.py
# Environments
env/
# Media and Static directories
/media/
!/media/.gitkeep
/static/
!/static/.gitkeep
# Secrets
secrets.json