{% load static %}
<!DOCTYPE html>
<html>
	<header>
		<meta charset="UTF-8">
		<title>دمیرکو</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--		<script src="" referrerpolicy="origin"></script>-->
		<link rel="stylesheet" href="/static/public/splide/splide.min.css">
		<script src="/static/public/splide/splide.min.js"></script>
		<script src="/static/public/glider/glider.min.js"></script>
		<link rel="stylesheet" href="/static/public/glider/glider.min.css">

		<link rel="manifest" type="application/json" href="/manifest.json">
		


		  <meta name="apple-mobile-web-app-capable" content="yes">
		  <meta name="apple-mobile-web-app-status-bar-style" content="black">
		  <meta name="apple-mobile-web-app-title" content="PWAGram">
		  <link rel="apple-touch-icon" href="/images/192x192.png" sizes="192x192">
		  <meta name="msapplication-TileImage" content="/images/pwa/192x192.png">
		  <meta name="msapplication-TileColor" content="#fff">
		  <meta name="theme-color" content="#3f51b5">

	</header>
	<body>
<div id="app">